<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Track Order {{ order.order_number }}</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<style>
body{font-family:Arial}

#map{
height:500px;
width:100%;
margin-top:10px;
}

.status{
margin-top:15px;
font-size:18px;
}
</style>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<link rel="stylesheet"
href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css"/>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>

</head>
<body>

<h2>Track Order #{{ order.order_number }}</h2>

<div id="map"></div>

<div class="status">
📦 Order Status: <b>{{ order.rider_status }}</b>
</div>

<script>

const orderId = {{order.id}}

const map = L.map('map').setView([17.440894,78.444348],13)

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
 attribution:'© OpenStreetMap'
}).addTo(map)

let riderMarker = null
let storeMarker = null
let customerMarker = null
let routeControl = null

async function updateMap(){

const res = await fetch("/get_order_rider/"+orderId)
const data = await res.json()

console.log(data)

if(!data) return

/* STORE */

if(data.store_lat && data.store_lng && !storeMarker){

storeMarker=L.marker([data.store_lat,data.store_lng])
.addTo(map)
.bindPopup("🏪 Store")

}

/* CUSTOMER */

if(data.cust_lat && data.cust_lng && !customerMarker){

customerMarker=L.marker([data.cust_lat,data.cust_lng])
.addTo(map)
.bindPopup("🏠 Customer")

}

/* RIDER */

if(data.rider_lat && data.rider_lng){

if(riderMarker){

riderMarker.setLatLng([data.rider_lat,data.rider_lng])

}else{

riderMarker=L.marker([data.rider_lat,data.rider_lng])
.addTo(map)
.bindPopup("🚴 Rider")

}

}

/* REAL ROUTE */

if(data.rider_lat && data.rider_lng && data.cust_lat && data.cust_lng){

if(routeControl){

routeControl.setWaypoints([
L.latLng(data.rider_lat,data.rider_lng),
L.latLng(data.cust_lat,data.cust_lng)
])

}else{

routeControl=L.Routing.control({
waypoints:[
L.latLng(data.rider_lat,data.rider_lng),
L.latLng(data.cust_lat,data.cust_lng)
],
lineOptions:{
styles:[{color:'blue',weight:5}]
},
addWaypoints:false,
draggableWaypoints:false,
fitSelectedRoutes:true,
show:false,
createMarker:function(){return null}
}).addTo(map)

}

}

}

updateMap()

setInterval(updateMap,5000)

</script>
</body>
</html>